<div class="item">
  <p class="item-title">{{ item.company }}</p>
  <p class="item-subtitle">
    <b>{{ item.title }}</b>
    <span class="subdue">{{ item.date }}</span>
  </p>
  <p class="item-description">{{ item.description }}</p>

  <if condition="item.stories">
    <each loop="story, story_index in item.stories">
      <div class="story">
        <p class="hed">
          <if condition="index + story_index === 0">Notable story: </if
          ><span>{{{ story.hed }}}</span>
        </p>
        <p>{{ story.description }}</p>
        <if condition="story.thumbnail"
          ><img class="thumbnail" src="{{ story.thumbnail }}"
        /></if>
      </div>
    </each>
  </if>
</div>
