body {
  max-width: 847px;
  margin: 0 auto;
}

@page {
  size: letter;
}

$blue: #43bdc4;
// $blue: #c081da;
// $blue: #82e5eb;

$vert-spacing: 21px;

p {
  margin: 0;
  color: #121212;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #121212;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  .name {
    color: $blue;
    font-weight: bold;
    font-size: 23px;
    height: 21px;
    transform: translateY(-3px);
  }

  .website,
  .website a {
    color: $blue;
  }

  div:last-child {
    text-align: right;
    p,
    a {
      color: #777;
    }
  }
}

.body-section .item {
  .item-title {
    font-weight: bold;
  }

  .item-subtitle {
    b {
      color: $blue;
    }

    .subdue {
      color: #787878;
    }
  }

  .story {
    padding-left: 40px;

    .hed {
      // color: $blue;
      font-weight: bold;

      span {
        font-style: italic;
      }
    }
  }
}

.container {
  margin-top: $vert-spacing;
}

.body-section.experiences .item:not(:first-child) {
  margin-top: $vert-spacing;
}

.thumbnail {
  height: 100px;
  display: none;
}

.container {
  display: flex;

  &> p:first-child {
    min-width: 140px;
    color: #666;
  }
}

.tools .item {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 12px;
}

.container.conferences a {
  text-decoration: underline;
}