@page {
  size: letter;
}

$blue: #43bdc4;
// $blue: #c081da;

$vert-spacing: 21px;

p {
  margin: 0;
  color: #121212;
  font-family: "Helvetica Neue";
  font-size: 15px;
  line-height: 21px;
}

a {
  color: #121212;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .name {
    color: $blue;
    font-weight: bold;
    font-size: 23px;
  }

  div:last-child {
    text-align: right;
    p,
    a {
      color: #777;
    }
  }
}

.body-section .item {
  .item-title {
    font-weight: bold;
  }

  .item-subtitle {
    b {
      color: $blue;
    }

    .subdue {
      color: #777;
    }
  }

  .story {
    padding-left: 40px;

    .hed {
      color: $blue;
      b { font-weight: normal;}

      span {
        font-style: italic;
      }
    }
  }
}

.container {
  margin-top: $vert-spacing;
}

.body-section.experiences .item:not(:first-child) {
  margin-top: $vert-spacing;
}

.thumbnail {
  height: 100px;
  display: none;
}

.container {
  display: flex;

  p {
    min-width: 130px;
  }
}